<template>
	<div>
		<Navigation></Navigation>
		<div class='grid'>{{ message }}</div>
	</div>
</template>
<script>
	import Navigation from './nav.vue';
	export default {
		components: {
			'Navigation': Navigation
		},
		computed: {
			message() {
				return "Potatoes";
			}
		}
	}
</script>