<template>
	<div class='table' id="list">
		<div class="table-header">
			<div class="table-cell">Main Contact Name</div>
			<div class="table-cell">Main Contact Email</div>
			<div class="table-cell">Total Balance Due</div>
			<div class="table-cell">Deposit Paid</div>
			<div class="table-cell">Vehicle Registration</div>
		</div>
		<div class="table-body">
			<div v-if="filteredItems.length">
				<a class="table-row" 
					v-for="item in filteredItems" 
					@click="guestClicked(item[0], item['deposit'], item['total-balance'], item['total-paid'])"
					:class="item['flag'] === 'TRUE' ? 'flagged' : '' "
				>
					
					<div class="table-cell"  >{{ item['main-contact'] }}</div>
					<div class="table-cell">{{ item['main-contact-email'] }}</div>
					<div class="table-cell">£{{ item['total-balance'] }}</div>
					<div class="table-cell">£{{ item['deposit'] }}</div>
					<div class="table-cell">{{ item['vehicle-reg'] }}</div>
				</a>
			</div>
			<div v-else>
				<div class="table-row "><img class='loader' src="../assets/loader.gif"></div>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		props: {
			filteredItems: {
				type: Array,
				required: true,
			},
			// currentData: {
			// 	type: Object,
			// 	required: true,
			// },
		},
		methods: {
			guestClicked(index, deposit, balance, paid) {
				let tempObject = {guestData: this.filteredItems[index-1], remainingBalance: 0};

				var value;
				if( paid > 0 ) {
					value =  +balance - (+deposit + +paid);
				} else {
					value =  +balance - +deposit;
				}

				tempObject.remainingBalance = value

				// console.log("value: " + value);

				// console.log("tempObject: " + JSON.stringify(tempObject));

				this.$emit("open-modal", tempObject);

			}
		}
	}
</script>