<template>
	<div>
		<Navigation></Navigation>
		<div class="grid">
			<loginForm></loginForm>
		</div>
	</div>
</template>
<script>
	import loginForm from './loginForm.vue';
	import Navigation from './nav.vue';

	export default {
		components: {
			loginForm,
			'Navigation':Navigation
		}
	}
</script>