<template>
	<div>
		<form id="login" @submit.prevent="loginUser">
			<input type="text" name="Username" placeholder="Username" v-model="user"/>
			<input type="password" name="Password" placeholder="Password" v-model="pass"/>
			<input class='button button-inverted' type="submit" name="login" value="Login" />
		</form>
	</div>
</template>
<script>
	import axios from 'axios';

	export default {
		data() {
			return {
				user: '',
				pass: ''
			}
		},
		methods: {
			toFormData: function(obj){
				var form_data = new FormData();
				for(var key in obj){
					form_data.append(key, obj[key]);
				}
				return form_data;
			},
			loginUser() {
				let memForm = this.toFormData({ Username: this.user, Password: this.pass });
				this.$store.dispatch('retrieveToken', memForm)
					.then( response => {
						// this.$router.push('/');
						this.$router.push('/secret');
					})
					.catch( error => {
						console.log('Login Error: ' + error);
					})

				
				// axios.post('http://localhost/arc-crm/backend/auth/login.php', memForm )
				// 	.then(response => {
				// 		console.log(response.data);

				// 		let userData = response.data.user;

 			// 			if( userData ) {
 			// 				this.$store.commit('statusChange', response.data.data);
 			// 				this.$store.commit('tokenChange', 1234);
 			// 				// localStorage.setItem('UID', userData);
 			// 				this.$router.push('/');
 			// 			}
				// 	})
				// 	.catch( error => {
				// 		console.log('Messed it up \n' + JSON.stringify(error));
				// 		localStorage.removeItem('UID')
				// 		return;
				// 	});
			}
		}
	}
</script>
