<template>
	<div>
		<p>{{ message }}</p>
	</div>
</template>
<script>
	export default {
		props: {
			message: {
				type: String,
				default: "Shh secret",
			}
		},
		methods: {
			logout() {
				// let token = this.toFormData({ token: this.$store.state.token });
				this.$store.dispatch('destroyToken')
					.then( response => {
						this.$router.push('/')
					})
					.catch(error => {
						console.log(error);
					})
			}
		}
	}
</script>