<template>
	<div>
		<div class="navbar">
			<div class="grid">
				<div class="nav-container">
					<ul id="menu">
						<li><router-link to="/">Home</router-link></li>
						<li v-if="!checkAuth"><router-link to="/login">Login</router-link></li>
						<li v-if="!checkAuth"><router-link to="/register">Register</router-link></li>
						<li v-if="checkAuth"><router-link to="/secret">Guest List</router-link></li>
						<li v-if="checkAuth"><button class='button button-inverted' @click="logout">Logout</button></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="status" v-bind:class="{active: isShowing}">
			<h2>Status:</h2>
			<p v-html="status"></p>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'Nav',
		data() {
			return {
				isShowing: false
			}
		},
		computed: {
			checkAuth() { 
				return this.$store.getters.isUserLoggedIn;
			},
			status() {
				if( this.$store.state.status ) {
					this.isShowing = true;
					setTimeout(() => {
						this.isShowing = false

						setTimeout(() => {
							this.$store.commit('statusChange', '')
						}, 500)
					},3000)
					return this.$store.state.status;
				}
			},
		},
		methods: {
	      logout() {
	      	// let token = this.toFormData({ token: this.$store.state.token });
	      	this.$store.dispatch('destroyToken')
	      		.then( response => {
	      			this.$router.push('/')
	      		})
	      		.catch(error => {
	      			console.log(error);
	      		})
	      },
	      showStatus() {
	      	console.log('show status');
	      	setTimeout( function() {
	      		this.revealStatus = true
	      	}, 3000);
	      }
	    }
	}
</script>