<template>
	<div>
		<div v-if="errors.length">
		    <b>Please correct the following error(s):</b>
		    <ul>
		      <li v-for="error in errors">{{ error }}</li>
		    </ul>
	  	</div>

		<form id="register" @submit.prevent="registerUser">
			<input type="text" name="Username" placeholder="Username" v-model="user" :class="{ invalid : hasErrors }"/>
			<input type="password" name="Password" placeholder="Password" v-model="pass" :class="{ invalid : hasErrors }"/>
			<input type="password" name="PasswordAgain" placeholder="Confirm Password" v-model="passAgain" :class="{ invalid : hasErrors }"/>
			<input class='button button-inverted' type="submit" name="login" value="Register" />
		</form>
	</div>
</template>
<script>
	import axios from 'axios';

	export default {
		data() {
			return {
				hasErrors: false,
				errors: [],
				user: null,
				pass: null,
				passAgain: null
			}
		},
		methods: {
			toFormData: function(obj){
				var form_data = new FormData();
				for(var key in obj){
					form_data.append(key, obj[key]);
				}
				return form_data;
			},
			registerUser() {

				//reset errors
				this.errors = [];

				if( this.user === '') {
					this.errors.push('Username is required.');
					this.hasErrors = true;
					return;
				}

				if( this.pass !== this.passAgain) {
					this.errors.push('Passwords do not match.');
					this.hasErrors = true;
					return;
				} 


				let memForm = this.toFormData({ Username: this.user, Password: this.pass });
				this.$store.dispatch('registerUser', memForm)
					.then( response => {
						console.log(response)
						this.$router.push('/');
					})
					.catch( error => {
						console.log('Login Error: ' + error);
					})
				
			}
		}
	}
</script>