<template>
	<div>
		<Navigation></Navigation>
		<div class="grid">
			<registrationForm></registrationForm>
		</div>
	</div>
</template>
<script>
	import Navigation from './nav.vue';
	import registrationForm from './registerForm.vue';

	export default {
		computed: {
			checkAuth() { 
				return this.$store.getters.isUserLoggedIn;
			}
		},
		components: {
			'Navigation': Navigation,
			'registrationForm': registrationForm
		}
	}
</script>