<template>
	<div>
		<Navigation></Navigation>
		<messageAndLogout
			message="Shh potatoes be sleeping">
		</messageAndLogout>
	</div>
	
</template>
<script>

	import messageAndLogout from './messageAndLogout.vue';
	import Navigation from './nav.vue';

	export default {
		components: {
			messageAndLogout,
			'Navigation': Navigation
		}
	}
</script>