<template>
	<div>
		<Navigation></Navigation>
		<div class="grid">
			<userSearch 
				:items="items"
				@filtered-users="updateValueGuests">
			</userSearch>

    		<GuestTable
    			:filteredItems="filteredItems"
    			@open-modal="openModal"
    			
    		>
    		</GuestTable>

    		<div class="modal-overlay" v-bind:class='{active:isShowing}'>
    			<div class="modal" v-if="isShowing">
    				<div class="modal-header" :class="currentData['flag'] === 'TRUE' ? 'flagged' : '' ">
    					<h2 class="lead-name">{{ currentData['main-contact'] }}</h2>
    					<button class="button close" @click="toggleShow">Close</button>
    				</div>
    				
    				<div class="box-row">
    					
    					<div class="box-column">
    						<div class="balance-sheet" :class="{loading : balanceSheetLoading}">
    							<h2 class="column-title">Balance Sheet</h2>
    							<div class="balance-table">
    								<div class="row">
    									<div class="title">
    										<h4>Deposit</h4>
    										<p>Paid by: {{ currentData['deposit-type'].slice(0,14) }}</p>
    									</div>
    									<div class="amount">£{{ currentData['deposit'] }}</div>
    								</div>
    								<div class="row">
    									<div class="title">Amount paid to date</div>
    									<div class="amount">£{{ currentData['total-paid'] }}</div>
    								</div>
    								<div class="row">
    									<form id="update-balance" @submit.prevent="updateBalance">
			    							<label>
			    								<div class="title">Balance being payed now</div>
			    								<div class="amount"><div class="sum-box"><span class="icon">£</span><input type="number" name="" v-model="newBalance" step=".01" required></div></div>
											</label>
											<div class="payment-type-container">
												<h4>Paid By:</h4>
												<select name="payment-type" v-model="paymentSelect" required>
													<option v-for="payment in paymentNames" v-bind:value="{ id: payment.id }">
														{{ payment.name }}
       												</option>
												</select>
											</div>
			    							<input class='button' type='submit' value='Confirm'/>
			    						</form>
    								</div>
    								<div class="row row-final">
		    							<div class="title">Balance Remaining</div>
		    							<div class="amount">£{{ remainingBalance }}</div>
		    						</div>
    							</div>	
    						</div>
    					</div>
    					<div class="box-column">
    						<div class="table">
    							<div class="table-header"><h2>Accompaning Campers</h2></div>
    							<div class="table-body">
    								<div class="table-row" v-if="currentData['second-name']">
    									<div class="table-cell">1</div>		
    									<div class="table-cell table-names">{{ currentData['second-name'] }}</div>		
    								</div>
    								<div class="table-row" v-if="currentData['third-name']">
    									<div class="table-cell">2</div>		
    									<div class="table-cell table-names">{{ currentData['third-name'] }}</div>	
    								</div>
    								<div class="table-row" v-if="currentData['fourth-name']">
    									<div class="table-cell">3</div>		
    									<div class="table-cell table-names">{{ currentData['fourth-name'] }}</div>	
    								</div>
    								<div class="table-row" v-if="currentData['fifth-name']">
    									<div class="table-cell">4</div>		
    									<div class="table-cell table-names">{{ currentData['fifth-name'] }}</div>	
    								</div>
    								<div class="table-row" v-if="currentData['sixth-name']">
    									<div class="table-cell">5</div>		
    									<div class="table-cell table-names">{{ currentData['sixth-name'] }}</div>	
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    				<div class="box-row">
    					<div class="box-column">
	    					<div class="notes" :class="{loading : notesSheetLoading}">
	    						<h2 class="column-title">Notes</h2>
	    						<form id="notes" @submit.prevent="updateNotes">
	    							<textarea 
		    							:value="this.currentData['notes'] === 'null' ? '' : this.currentData['notes']"
										@keyup="updateValue($event.target.value)"
		    							name='notes-area' placeholder="Notes" required>
	    							</textarea>
	    							<input class='button' type='submit' v-bind:value="noteText"/>
	    						</form>	
	    					</div>
    					</div>	
    					<div class="box-column register-box">
    						
    						<div v-if='currentData["register-stamp"] == "null" '>
    							<h2 class="column-title">Everything Done? Register User</h2>
								<button class="button" @click='registerUser'>Register {{ currentData['main-contact'] }}</button>
    						</div>
    						<div v-else>
    							<h2 class="column-title">Registration Complete</h2>
    							<p>User registered at: {{currentData['register-stamp']}}</p>
    						</div>
    					</div>
    				</div>	
    			</div>
    		</div>
		</div>	
	</div>
</template>
<script>

	import Navigation from './nav.vue';
	import userSearch from './userSearch.vue';
	import guestTable from './guestTable.vue';

	export default {
		data() {
			return {
				items: [],
				filteredItems: [],
				currentData: {},
				currentIndex: '',
				polling: null,
				newBalance: '',
				notes: '',
				remainingBalance: '',
				isShowing: false,
				search: '',
				balanceSheetLoading: false,
				notesSheetLoading: false,
				fields: {
					eventTimestamp: null
				},
				paymentSelect: '',
			    paymentNames: [
			    	{id: 'cash', name: 'Cash'},
			     	{id: 'cheque', name: 'Cheque'},
			      	{id: 'bank-transfer', name: 'Bank Transfer'}
			    ],
			}
		},
		components: {
			userSearch,
			'GuestTable': guestTable,
			'Navigation': Navigation
		},
		computed: {
			filteredGuests: function() {
				return this.items.filter((item) => {
					//Convert all strings to lowercase
					return item['main-contact'].toLowerCase().match(this.search.toLowerCase());
				});
			},
			noteText: function() {
				return this.currentData['notes'] === 'null' ? 'Add Note' : 'Update Notes';
			}
		},
		methods: {
			updateValue( value ) {
				this.currentData['notes'] = value;
			},
			updateValueGuests( value ) {;
				this.refilterGuests = false;
				this.filteredItems=value;
			},
			toFormData: function(obj){
				var form_data = new FormData();
				for(var key in obj){
					form_data.append(key, obj[key]);
				}
				return form_data;
			},
			updateTable() {
				this.$store.dispatch('getSheetData')
					.then( response => {
						console.log(response)
						
						this.filteredItems = this.items = response;
						this.$store.commit('statusChange', 'Data Received');
					})
					.catch( error => {
						console.log('Could not update table because: ' + error);
					})
			},
			pollData () {
				function arraysEqual(arr1, arr2) {
				    if(arr1.length !== arr2.length)
				        return false;
				    for(var i = arr1.length; i--;) {
				        if(arr1[i] !== arr2[i])
				            return false;
				    }

				    return true;
				}

				this.polling = setInterval(() => {
					this.$store.dispatch('getSheetData')
						.then( response => {
							if( this.items.length !== response.length ) {
								this.filteredUsers = this.items = response;
								this.$store.commit('statusChange', 'New Data Received');
								this.refilterGuests = true;
							}
						})
						.catch( error => {
							console.log('Login Error: ' + error);
						})
				}, 60000)
			},
			setNewUser(index) {
				var arrayIndex = index -1
				console.log('New User: ' + index)
				this.currentData = this.items[arrayIndex];
				this.currentIndex = index;
			},
			updateBalance() {
				this.balanceSheetLoading = true;
				var updatedBalance = this.remainingBalance - this.newBalance;
				

				var index = this.currentIndex;

			    var payload = {'amount': this.newBalance, 'index': index, 'type':this.paymentSelect.id};

			    // console.log('sheetData: ' + sheetData);

				this.$store.dispatch('setNewAmount', payload)
					.then( response => {
						// console.log(response)
						this.remainingBalance = updatedBalance.toFixed(2);
						this.$set(this.currentData,'total-paid', this.newBalance);
						this.newBalance = '';
						this.balanceSheetLoading = false;

					})
					.catch( error => {
						this.balanceSheetLoading = false;
						console.log('Balance Error: ' + error);
					})
			},
			toggleShow() {
				this.isShowing = !this.isShowing;
			},
			openModal(value) {
				//console.log("value: " + JSON.stringify(value));
				this.currentData = value.guestData;
				this.remainingBalance = value.remainingBalance;
				this.toggleShow();
			},
			registerUser() {
				
				var timestamp = this.$moment().format('DD/M/YYYY, h:mm:ss a');
			

				var payload = {'registerStamp': timestamp, 'index': this.currentIndex};

			    // console.log('sheetData: ' + sheetData);

				this.$store.dispatch('registerUser', payload)
					.then( response => {
						console.log(response)
						this.$set(this.currentData,'register-stamp',response);
					})
					.catch( error => {
						console.log('Registration Error: ' + error);
					})
			},
			updateNotes() {
				this.notesSheetLoading = true;
				var notes = this.currentData['notes'];

				if( !notes.length) {
					notes = ''
				}

				console.log(notes)
			    var payload = {'notes': notes, 'index': this.currentIndex};

			    // console.log('sheetData: ' + sheetData);

				this.$store.dispatch('updateNotes', payload)
					.then( response => {
						// console.log(response)
						this.$set(this.currentData,'notes', notes);
						this.notes = notes;
						this.notesSheetLoading = false;
					})
					.catch( error => {
						this.notesSheetLoading = false;
						console.log('Balance Error: ' + error);
					})
			},
		},
		beforeDestroy () {
			clearInterval(this.polling);
		},
		created() {
			this.updateTable();
			this.pollData();
		}
		// methods: {
		// 	login () {
		// 		var self = this;
		// 		this.$getGapiClient()
		// 		.then(gapi => {
		// 			// console.log(gapi);
		// 			var params = {
		// 		        // The ID of the spreadsheet to retrieve data from.
		// 		        spreadsheetId: '1T7gsjcZTHvp2fHmmI7vfWmiGe_oBrjXFn2EKY6r3Tag',  // TODO: Update placeholder value.

		// 		        // The A1 notation of the values to retrieve.
		// 		        range: 'Form responses 1',  // TODO: Update placeholder value.

		// 		        // How values should be represented in the output.
		// 		        // The default render option is ValueRenderOption.FORMATTED_VALUE.
		// 		        valueRenderOption: 'FORMATTED_VALUE',  // TODO: Update placeholder value.

		// 		        // How dates, times, and durations should be represented in the output.
		// 		        // This is ignored if value_render_option is
		// 		        // FORMATTED_VALUE.
		// 		        // The default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].
		// 		        // dateTimeRenderOption: '',  // TODO: Update placeholder value.
		// 		      };
		// 			// var lols = gapi.client.sheets.spreadsheets.get(params);
		// 			var request = gapi.client.sheets.spreadsheets.values.get(params);

		// 			// console.log(request.result);

		// 			request.then(function(response) {
		// 				// TODO: Change code below to process the `response` object:
		// 				var items = response.result.values
		// 				console.log( items );

		// 				for(var key in items){
		// 					self.$set('items', items);
		// 				}

		// 				for(let i = 0; i < items.length; i++){
		// 		              self.items.push(items[i]);
		// 		          }
						
		// 				return items;
		// 				}, function(reason) {
		// 				console.error('ApiCall error: ' + reason.result.error.message);
		// 			});
		// 		 // ...
		// 		})
		// 	}
		// },
	}
</script>