<template>
	<div class="search-area">
		<h2 class="title">Search for a user:</h2>
		<div>
			<input type='text' v-model="search1" class="search-box" placeholder="Search for guest"/>
			<button class="button" @click="buttonCLicked">Clear</button>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			items: {
				type: Array,
				required: true
			},
		},
		data() {
			return {
				search1: '',
				somnethig: 'hello',
			}
		},
		computed: {
			searchResults: function() {
				this.$emit('filtered-users', this.items.filter(item => {
					//Convert all strings to lowercase
					return item['main-contact'].toLowerCase().match(this.search1.toLowerCase());
				}));


				return true;
			},
		},
		methods: {
			buttonCLicked: function() {
				this.search1 = "";

				this.$emit('filtered-users', this.items);
			},
		},
		watch: {
			search1(n) {
				this.searchResults;
			},
			items(n) {
				this.searchResults;
			}
		}
	}
</script>